<!DOCTYPE html>
<html>
    <head>
        <title>Collaborative Logistics | <%= title %></title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <style>
          #map {
              width: 50%;
              height:400px;
              margin:10px;
          }
          #map2 {
              width: 50%;
              height:400px;
              margin:10px;
          }
        </style>
        <script async
        src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap">
    </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about">About</a>
                    </li>
                  </ul>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
            </div>
            
        </nav>
        <h2>Index Page</h2>
        <hr>
        <h3> <%= api_key %></h3>

        <div id="map">
        </div>
        <div id="map2">
        </div>
        <div>
          <table>
            <% for(let i=0;i<users.length;i++){ %>
              <tr>
                <td><%= users[i].id %></td>
                <td><%= users[i].name %></td>
              </tr>
            <% } %>
          </table>
        </div>
    </body>
    <script href="/javascripts/bootstrap.bundle.min.js"></script>
    <script>
      let map;
      let map2;
      var marker;
      function initMap() {
        let lat = 37.7749;
        let long = -122.4194;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            lat = position.coords.latitude;
            long = position.coords.longitude;
            console.log("Latitude: " + lat + ", Longitude: " + long);
          });
        } else {
          console.log("Geolocation is not supported by this browser.");
        }
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: lat, lng: long },

          zoom: 8,
          
        });
        const marker = new google.maps.Marker({
          position: { lat: 37.7749, lng: -122.4194 },
          map: map,
        });
        google.maps.event.addListener(map, 'click', function(event) {
           placeMarker(event.latLng);
        });

        // uncomment this to disable direction service
  //       var directionsService = new google.maps.DirectionsService();
  // // Call the DirectionsService.route() method
  //       directionsService.route({
  //         origin: 'San Francisco, CA',
  //         destination: 'Los Angeles, CA',
  //         travelMode: 'DRIVING'
  //       }, function(response, status) {
  //         if (status === 'OK') {
  //           // Create a new DirectionsRenderer object
  //           var directionsRenderer = new google.maps.DirectionsRenderer({
  //             map: map,
  //             directions: response,
  //             draggable: true,
  //             polylineOptions: {
  //               strokeColor: 'green'
  //             }
  //           });
  //         } else {
  //           window.alert('Directions request failed due to ' + status);
  //         }
  //       });
        // map = new google.maps.Map(document.getElementById("map"), {
        //   center: { lat: 36.2048, lng: 138.2529 },
        //   zoom: 8,
          
        // });
        // const marker = new google.maps.Marker({
        //   position: { lat: 36.2048, lng: 138.2529 },
        //   map: map,
        // });
        // map2 = new google.maps.Map(document.getElementById("map2"), {
        //   center: { lat: -34.397, lng: 150.644 },
        //   zoom: 8,
        // });
      }
      function placeMarker(location) {
        if(marker){
          marker.setMap(null);
        }
        marker = new google.maps.Marker({
          position: location,
          map: map
        });
        map.setCenter(location);
        console.log(location.lat() + ',' + location.lng());
      }

      window.initMap = initMap;
    </script>

</html>